[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyquery = "*"
pymysql = "*"
apscheduler = "*"
cryptography = "*"
sqlalchemy = "==1.4.17"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
